.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace.pace-inactive .pace-progress {
	display: none;
}

.pace .pace-progress {
	position: fixed;
	z-index: 2000;
	top:50%;
	left:50%;
	margin-left:-2.5vw;
	margin-top:-5vh;
	width:5vw;
	height:10vh;
	/* border:1px solid #fff; */
	background:none;

	-webkit-transform: translate3d(0, 0, 0) !important;
	-ms-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
	display: block;
	width:5vw;
	margin:0 auto;
	position: absolute;
	top: 0;
	left:0;
	content: attr(data-progress-text);
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 100;
	font-size: 1.1rem;
	line-height:10vh;
	text-align:center;
	color: rgba(255, 255, 255, 0.9);
	text-shadow:0 0 5px #fff,
							0 0 12px #fff,
							0 0 22px #fff,
							0 0 30px #fff;
}
