body{
  font-size:14px;
  font-family:"Open Sans","Gotham","Dotum","Apple SD Gothic Neo",sans-serif;
  position:relative;
}


/* HEADER */

header{
  width:100%;
  height:64px;
  position:absolute;
  top:0;
  left:0;
  transition:all 0.3s ease 0s;
  z-index:1000;
}
header:hover{
  background:#fff;
}
header:hover .top_menu #down_wrap{
  border-top:1px solid #eee;
}

header .top{
  width:1200px;
  height:64px;
  margin:0 auto;
  padding:0;
}
.top:after{
  content:"";
  display:block;
  clear:both;
}
.top_logo{
  float:left;
  position:absolute;
  top:50%;
  margin-top:-12px;
  width:42px;
  height:24px;
}
.top_menu{
  display:inline-block;
}
.top_menu > ul{
  margin-left:90px;
}
.top_menu > ul > li{
  float:left;
  height:64px;
  padding:0 17px;
  line-height:64px;
  box-sizing:border-box;
}
.top_menu > ul > li > a{
  font-weight:600;
  color:#fff;
}
header:hover .top_menu > ul > li > a{
  color:#000;
}
.top_menu ul:after{
  content:"";
  display:block;
  clear:both;
}
.top_menu #down_wrap{
  box-sizing:border-box;
  width:100vw;
  position:absolute;
  left:0;
  top:64px;
  background:#fff;
  line-height:120%;
  display:none;
  overflow:hidden;
  transition:all 0.3s ease 0s;
}
.top_menu > ul > li:hover{
  border-bottom:2px solid #000;
}
.top_menu > ul > li:hover > div#down_wrap{
  display:block;
}
.top_menu #down_wrap .down_inner{
  width:1200px;
  margin:0 auto;
}
.top_menu #down_wrap > .down_inner_top{
  width:100%;
  height:64px;
  background:#f7f9fa;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap{
  width:1200px;
  margin:0 auto;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap:after{
  content:"";
  display:block;
  clear:both;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_nav{
  float:left;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_nav > li{
  float:left;
  width:180px;
  height:64px;
  font-size:16px;
  font-weight:600;
  line-height:64px;
  padding-left:22px;
  position:relative;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_nav > li > a{
  display:block;
  width:100%;
  height:100%;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_nav > li:before{
  content:"";
  display:block;
  width:3px;
  height:34px;
  position:absolute;
  top:calc(50% - 17px);
  left:0;
  background:#ccc;
  transition:all 0.3s ease 0s;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_nav > li:hover:before{
  background:#000;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_right{
  float:left;
  width:180px;
  height:64px;
  background:url("../img/before.svg") no-repeat 0 center;
}
.top_menu #down_wrap > .down_inner_top .down_inner_top_wrap .down_inner_top_right span{
  font-size:16px;
  font-weight:600;
  line-height:64px;
  margin-left:20px;
}
.top_menu #down_wrap .down_inner > #inner_section{
  width:400px;
  float:left;
  padding-right:13px;
}
.top_menu #down_wrap .down_inner:after{
  content:"";
  display:block;
  clear:both;
}
.top_menu #down_wrap .down_inner > #inner_section{
  height:320px;
  border-bottom:1px solid #eee;
  border-right:1px solid #eee;
  box-sizing:border-box;
}
.top_menu #down_wrap .down_inner > #inner_section:nth-of-type(3){
  border-right:none;
}
.top_menu #down_wrap .down_inner > #inner_section:nth-of-type(4){
  border-bottom:none;
}
.top_menu #down_wrap .down_inner > #inner_section:nth-of-type(5){
  border-bottom:none;
}
.top_menu #down_wrap .down_inner > #inner_section > div{
  float:left;
}
.top_menu #down_wrap .down_inner > #inner_section:after{
  content:"";
  display:block;
  clear:both;
}
.top_menu #down_wrap .down_inner > #inner_section .down_inner_left{
  width:43%;
  padding-top:30px;
  padding-left:13px;
  box-sizing:border-box;
}
.top_menu #down_wrap .down_inner > #inner_section .down_inner_right{
  width:57%;
  padding-top:30px;
  padding-left:20px;
  box-sizing:border-box;
}
.top_menu #down_wrap .down_inner > #inner_section .down_inner_right > h3{
  font-size:16px;
  font-weight:600;
  margin-bottom:16px;
}
.top_menu #down_wrap .down_inner > #inner_section .down_inner_right > p{
  font-size:12px;
  margin-bottom:20px;
  color:#666;
}
.top_menu #down_wrap .down_inner > #inner_section .down_inner_right > ul li{
  margin-bottom:14px;
}
.top_menu #down_wrap .down_inner > #inner_section a:hover{
  text-decoration:underline;
}
.top_menu #down_wrap .down_inner .down_inner_bottom{
  width:100%;
  height:80px;
  float:left;
  border-top:1px solid #eee;
}
.top_menu #down_wrap .down_inner .down_inner_bottom > ul{
  height:100%;
}
.top_menu #down_wrap .down_inner .down_inner_bottom > ul > li{
  height:50px;
  float:left;
  margin-right:20px;
  background:#ddd;
  margin-top:18px;
  line-height:50px;
  position:relative;
  padding:0 50px 0 20px;
  color:#3b3e40;
  background-image:linear-gradient(-180deg,#d4d7d9,#babdbf);
  border-radius:5px;
}
.top_menu #down_wrap .down_inner .down_inner_bottom > ul > li:hover{
  opacity:0.7;
}
.top_menu #down_wrap .down_inner .down_inner_bottom > ul > li:after{
  content:"";
  display:inline-block;
  width:20px;
  height:50px;
  background:url("../img/after.svg") no-repeat 0 center;
  background-size:100%;
  position:absolute;
  right:20px;
  top:0;
}
.top_menu ul li:nth-of-type(5){
  position:relative;
}
.top_menu ul li > .down_5{
  display:none;
  background:#fff;
  position:absolute;
  top:64px;
  left:calc(-30px);
  width:150px;
  text-align:center;
}
.top_menu ul li:hover .down_5{
  display:block;
}
.top_menu ul li > .down_5 > li{
  padding:0;
  font-size:12px;
  height:50px;
  line-height:50px;
  transition:all 0.3s ease 0s;
}
.top_menu ul li > .down_5 > li a{
  display:block;
  width:100%;
  height:100%;
}
.top_menu ul li > .down_5 > li:hover{
  background:#ddd;
}

.down6 .down_inner > div{
  float:left;
  width:25%;
  height:auto;
  border-right:1px solid #eee;
  box-sizing:border-box;
  padding:20px;
}
.down6 .down_inner > div:last-of-type{
  border:none;
}
.down6 .down_inner > div > h3{
  font-size:16px;
  font-weight:600;
  margin-bottom:16px;
}
.down6 .down_inner > div > p{
  font-size:12px;
  color:#666;
  margin-bottom:20px;
}
.down6 .down_inner > div > ul li{
  margin-bottom:16px;
}
.down6 .down_inner > div a:hover{
  text-decoration:underline;
}
.top .top_util{
  float:right;
  position:relative;
}
.top:after{
  content:"";
  display:block;
  clear:both;
}
.top .top_util > div{
  float:left;
  margin-top:15px;
}
.top .top_util .bt_store{
  text-align:center;
  width:75px;
  height:30px;
  background: linear-gradient(-180deg,#42b7ff,#1897f2);
  line-height:30px;
  font-weight:600;
  position:absolute;
  top:0;
  right:150px;
  border-radius:4px;
}
.top .top_util .bt_store:hover{
  opacity:0.8;
}
.top .top_util .bt_store a{
  display:block;
  width:100%;
  height:100%;
  color:#fff;
}
.top .top_util .serch{
  width:24px;
  height:24px;
  background:url("../img/search2-f59385661d469676263d42217b56605a.svg") no-repeat 0 0;
  background-size:cover;
  margin-right:40px;
  margin-top:18px;
}
.top .top_util .sign{
  width:24px;
  height:60px;
  background:url("../img/user-ab280f4807cc9843ed51d34f78e7c960.svg") no-repeat 0 0;
  background-size:100%;
  margin-top:18px;
}
.top .top_util .sign ul{
  width:100px;
  background:#fff;
  position:absolute;
  top:75px;
  right:0px;
  display:none;
}
.top .top_util .sign:hover ul{
  display:block;
}
.top .top_util .sign ul:before{
  content:"";
  display:block;
  width:0;
  height:0;
  border-bottom:6px solid #fff;
  border-left:6px solid transparent;
  border-right:6px solid transparent;
  position:absolute;
  top:-6px;
  right:6px;

}
.top .top_util .sign ul li{
  text-align:center;
  font-size:12px;
  padding:15px 0;
  transition:all 0.3s ease 0s;
}
.top .top_util .sign ul li:hover{
  background:#ddd;
}
.top .top_util:after{
  content:"";
  display:block;
  clear:both;
}






/* CONTENTS */

/* con_1 */
.contents_wrap .con_1{
  height:800px;
  position:relative;
}
.contents_wrap .con_1 .slide_1 > li{
  position:absolute;
  opacity:0;
  pointer-events:none;
  transition:all 0.5s ease 0s;
}
.contents_wrap .con_1 .slide_1 > li.on{
  opacity:1;
  pointer-events:auto;
}
.contents_wrap .con_1 img{
  height:800px;
  object-fit:cover;
}
.contents_wrap .con_1 .captions{
  position:absolute;
  top:110px;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  color:#fff;
  opacity:0;
}
.contents_wrap .con_1 .captions.on{
  opacity:1;
}
.contents_wrap .con_1 .captions p{
  transform:translateY(-50px);
  opacity:0;
  transition:all 0.4s ease 0s
}
.contents_wrap .con_1 .captions.on p{
  opacity:1;
  transform:translateY(0);
}
.contents_wrap .con_1 .captions h2{
  font-size:46px;
  font-weight:600;
  padding:15px 0;
  transform:translateY(-50px);
  opacity:0;
  transition:all 0.5s ease 0.3s
}
.contents_wrap .con_1 .captions.on h2{
  opacity:1;
  transform:translateY(0);
}
.contents_wrap .con_1 .captions span{
  display:block;
  font-size:20px;
  font-weight:600;
  transform:translateY(-50px);
  opacity:0;
  transition:all 0.5s ease 0.6s
}
.contents_wrap .con_1 .captions.on span{
  opacity:1;
  transform:translateY(0);
}
.contents_wrap .con_1 .captions a{
  display:block;
  width:120px;
  height:28px;
  margin:18px auto;
  border:1px solid #fff;
  border-radius:24px;
  line-height:28px;
  color:#fff;
  background-color:transparent;
  transform:translateY(-50px);
  opacity:0;
  transition:transform 0.5s ease 0.9s, opacity 0.5s ease 0.9s, background-color 0.3s linear 0s;
}
.contents_wrap .con_1 .captions.on a{
  opacity:1;
  transform:translateY(0);
}
.contents_wrap .con_1 .captions a:hover{
  background-color:rgba(255,255,255,0.1);
}
.contents_wrap .con_1 .captions a:after{
  content:"   >";
}
.con_1 .slide_nav{
  position:absolute;
  bottom:50px;
  left:450px;
  width:300px;
  height:100px;
}
.con_1 .slide_nav .slide_nav_list li{
  margin:15px 0;
  color:#fff;
  opacity:0.5;
}
.con_1 .slide_nav .slide_nav_list li.on{
  opacity:1;
  font-weight:600;
}
.con_1 .slide_nav .slide_nav_list .on_after{
  /* border:1px solid red; */
}
/* bxslider */
.slide_nav .bx-wrapper{
  background:transparent;
  border:none;
  box-shadow:none;
}
.slide_nav .bx-viewport{height:100px!important;}


.con_1 .controller{
  position:absolute;
  top:calc(50% - 20px);
  width:45px;
  height:80px;
  background:rgba(0, 0, 0, 0);
  transition:all 0.4s ease 0s;
  cursor:pointer;
}
.con_1 .controller:hover{
  background:rgba(0, 0, 0, 0.3);
}
.con_1 .controller > i{
  font-size:20px;
  color:#fff;
  position:absolute;
  top:calc(50% - 10px);
  pointer-events:none;
}
.con_1 #slide_prev{
  left:0;
  border-radius:0 8px 8px 0;
}
.con_1 #slide_prev > i{
  left:50%;
  transform:translateX(-50%);
}
.con_1 #slide_next{
  right:0;
  border-radius:8px 0 0 8px;
}
.con_1 #slide_next > i{
  right:50%;
  transform:translateX(50%);
}
.bx-next,
.bx-prev{
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  width:100%;
  height:100%;
}


/* con_2 */
.con_2{
  width:100%;
  padding:10px;
  box-sizing:border-box;
}
.con_2:after{
  content:"";
  display:block;
  clear:both;
}
.con_2 > div{
  width:calc(50% - 5px);
  height:700px;
  margin-bottom:10px;
  float:left;
  position:relative;
}
.con_2 > div img{
  height:700px;
  object-fit:cover;
}
.con_2 > div:nth-of-type(2n){
  margin-left:10px;
}
.con_2 > div .captions2{
  position:absolute;
  top:50px;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
}
.con_2 > div .captions2 p{
  opacity:0.5;
  margin-bottom:16px;
}
.con_2 > div .captions2 h2{
  width:auto;
  height:32px;
  margin-bottom:16px;
}
.con_2 > div .captions2 h2.txttitle{
  font-size:32px;
  font-weight:700;
  height:32px;
  line-height:32px;
}
.con_2 > div .captions2 h2 img{
  width:auto;
  height:100%;
  margin-bottom:10px;
}
.con_2 > div .captions2 span{
  display:block;
  font-size:20px;
  font-weight:500;
  margin-top:24px;
}
.con_2 > div .captions2 a{
  display:block;
  width:120px;
  height:28px;
  margin:18px auto;
  border:1px solid #000;
  border-radius:24px;
  line-height:28px;
  color:#000;
  background-color:transparent;
  transition:background-color 0.3s linear 0s;
}
.con_2 > div .captions2 a:after{
  content:"   >";
}
.con_2 > div .captions2 a:hover{
  background:rgba(0,0,0,0.1);
}

/* con_3 */
.con_3{
  width:100%;
  overflow:hidden;
  margin:80px 0;
}
.con_3 .video_slider{
  width:3600px;
  height:720px;
  position:relative;
  left:50%;
  margin-left:-1800px;
}
.con_3 .video_slider .swiper-slide{
  width:1200px;
  height:100%;
  position:relative;
}
.con_3 .swiper-wrapper .swiper-slide > video{
  width:100%;
  height:100%;
}
.con_3 .swiper-wrapper .swiper-slide > img{
  width:1180px;
  height:100%;
}
.con_3 .video_slider .swiper-button-next{
  position:absolute;
  top:50%;
  transform:translateX(-50%);
  right:1250px;
}
.con_3 .video_slider .swiper-button-prev{
  position:absolute;
  top:50%;
  transform:translateX(-50%);
  left:1250px;
}
.con_3 #captions3{
  color:#fff;
  position:absolute;
  top:30px;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
}
.swiper-slide #captions3 > p{
  font-size:20px;
}
.swiper-slide #captions3 > h2{
  font-weight:700;
  font-size:40px;
  margin-bottom:20px;
  opacity:1;
  transition:all 0.5s ease 0.3s;
}
.swiper-slide #captions3 > a{
  display:block;
  width:120px;
  height:28px;
  margin:18px auto;
  border:1px solid #fff;
  border-radius:24px;
  line-height:28px;
  color:#fff;
  background-color:transparent;
  transition:transform 0.5s ease 0.7s, opacity 0.5s ease 0.7s, background-color 0.3s linear 0s;
}
.swiper-slide #captions3 > a:hover{
  background:rgba(255,255,255,0.2)
}
.swiper-slide.swiper-slide-prev #captions3 > h2{
  transform:translateY(-50px);
  opacity:0;
}
.swiper-slide.swiper-slide-next #captions3 > h2{
  transform:translateY(50px);
  opacity:0;
}
.swiper-slide.swiper-slide-prev #captions3 > a{
  transform:translateY(-50px);
  opacity:0;
}
.swiper-slide.swiper-slide-next #captions3 > a{
  transform:translateY(50px);
  opacity:0;
}
/* con_4 */
.con_4{
  width:1200px;
  margin:0 auto;
  margin-bottom:100px;
}
.con_4 > h2{
  text-align:center;
  font-size:40px;
  margin-bottom:30px;
}
.con_4:after{
  content:"";
  display:block;
  clear:both;
}
.con_4 > div{
  float:left;
  height:512px;
  margin-right:16px;
  position:relative;
  overflow:hidden;
}
.con_4 > div img{
  transition:all 0.5s ease 0s;
}
.con_4 > div:hover img{
  transform:scale(1.1);
}
.con_4 .con_4_right{
  margin-right:0;
}
.con_4 .captions4{
  position:absolute;
  top:40px;
  left:50%;
  transform:translateX(-50%);
  text-align:center;
  width:100%;
  color:#fff;
}
.con_4 .captions4 h3{
  font-size:32px;
  margin-bottom:10px;
}
.con_4 .captions4 a{
  display:block;
  width:120px;
  height:28px;
  margin:18px auto;
  border:1px solid #fff;
  border-radius:24px;
  line-height:28px;
  color:#fff;
  background-color:transparent;
  transition:background-color 0.3s linear 0s;
}
.con_4 .captions4 a:hover{
  background:rgba(255,255,255,0.2);
}
.con_4 .captions4 a:after{
  content:"   >"
}

/* con_5 */
.con_5{
  width:100%;
  background:#f7f9fa;
  padding:50px 0;
}
.con_5 .inner_con_5{
  width:1200px;
  margin:0 auto;
}
.con_5 .inner_con_5:after{
  content:"";
  display:block;
  clear:both;
}
.con_5 .inner_con_5 > div{
  float:left;
  width:400px;
  text-align: center;
}
.con_5 .inner_con_5 > div img{
  width:50px;
}
.con_5 .inner_con_5 > div h3{
  font-size:20px;
  padding:15px 0;
}
.con_5 .inner_con_5 > div .more{
  display:block;
  width:120px;
  height:28px;
  margin:18px auto;
  border:1px solid #000;
  border-radius:24px;
  line-height:28px;
  color:#000;
  background-color:transparent;
  transition:background-color 0.3s linear 0s;
}
.con_5 .inner_con_5 > div .more:hover{
  background:rgba(50,50,50,0.1);
}
.con_5 .inner_con_5 > div .more:after{
  content:"  >"
}




/* footer */
.footer{
  background:#272727;
  font-size:12px;
  padding-top:80px;
}
.footer a{
  color:#f2f2f2;
}


/* ft_1 */
.ft_1{
  width:1200px;
  margin:0 auto;
}
.ft_1:after{
  content:"";
  display:block;
  clear:both;
}
.ft_1 > div{
  float:left;
  width:240px;
}
.ft_1 dl{
  margin-bottom:40px;
}
.ft_1 dl dt{
  margin-bottom:16px;
  color:#f2f2f2;
}
.ft_1 dl dd{
  margin-bottom:16px;
}
.ft_1 dl dd a{
  color:#9fa3a6;
  transition:all 0.2s ease 0s;
}
.ft_1 dl dd a:hover{
  color:#f2f2f2;
}
.ft_1 .ft_menu_5 .text_input{
  height:30px;
}
.ft_1 .ft_menu_5 .text_input:after{
  content:"";
  display:block;
  clear:both;
}
.ft_1 .ft_menu_5 .email > p{
  color:#9fa3a6;
  margin-bottom:16px;
}
.ft_1 .ft_menu_5 .email input{
  float:left;
  display:inline-block;
  width:190px;
  height:30px;
  border-top:1px solid #6c7073;
  border-bottom:1px solid #6c7073;
  border-left:1px solid #6c7073;
  background:#272727;
  border-radius:4px 0 0 4px;
  color:#fff;
  outline:none;
  text-indent:10px;
}
.ft_1 .ft_menu_5 .email .btn_email{
  float:left;
  margin-left:-6px;
  margin-top:0px;
  display:inline-block;
  width:32px;
  height:32px;
  background:#6c7073;
  line-height:32px;
  border-radius:0 4px 4px 0;
  text-align:center;
}
.ft_1 .ft_menu_5 .email .btn_email a{
  display:block;
  width:100%;
  height:100%;
}
.ft_1 .ft_menu_5 .email .btn_email a img{
  transform:translateY(4px);
}
/* ft_2 */
.ft_2{
  width:1200px;
  margin:0 auto;
  border-bottom:1px solid #9fa3a6;
  padding:10px 0;
}
.ft_2:after{
  content:"";
  display:block;
  clear:both;
}
.ft_2 > h2{
  float:left;
}
.ft_2 .ft_nav{
  float:left;
  transform:translateY(7px);
}
.ft_2 .sns{
  float:right;
}
.ft_2 > ul li{
  float:left;
}
.ft_2 > ul li a{
  color:#9fa3a6;
  transition:all 0.3s ease 0s;
}
.ft_2 .ft_nav{
  margin-left:34px;
}
.ft_2 .ft_nav > li{
  margin-right:20px;
}
.ft_2 .ft_nav > li:hover a{
  color:#f2f2f2;
}
.ft_2 .sns li{
  width:24px;
  height:24px;
  padding:1px;
  margin-right:16px;
  font-size:16px;
  line-height:24px;
  text-align:center;
  border-radius:50%;
  transition:all 0.3s linear 0s;
}
.ft_2 .sns li:hover{
  background:#444;
}


/* ft_3 */
.ft_3{
  width:1200px;
  margin:0 auto;
  padding:30px 0;
}
.ft_3:after{
  content:"";
  display:block;
  clear:both;
}
.ft_3 .ft_legal{
  float:left;
  width:800px;
}
.ft_3 .ft_legal > a{
  color:#6c7073;
  margin-right:12px;
  transition:all 0.2s ease 0s;
}
.ft_3 .ft_legal > a:hover{
  color:#f2f2f2;
}
.ft_3 .ft_legal .dot{
  display:inline-block;
  width:2px;
  height:2px;
  border-radius:50%;
  background:#6c7073;
  margin-bottom:4px;
  margin-right:6px;
}
.ft_3 .contry{
  float:right;
  height:24px;
  padding:0 10px;
  border-radius:5px;
  transition:all 0.2s ease 0s;
}
.ft_3 .contry:hover{
  background:#383838;
}
.ft_3 .contry > img{
  line-height:24px;
  transform:translateY(3px);
  margin-right:3px;
}
.ft_3 .contry > a{
  color:#9fa3a6;
  line-height:24px;
}
.ft_3 .rights{
  float:left;
  margin-top:40px;
  margin-bottom:60px;
  color:#6c7073;
}
.ft_3 .rights > p{
  display:inline-block;
  margin-right:16px;
}
.ft_3 .rights > a{
  color:#6c7073;
}
.ft_3 .rights > a:hover{
  color:#9c9e9f;
}




/* ls */
